body {
  padding: 3rem;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(245, 245, 245);
}

.ct-line {
  stroke-width: 1px;
}

@media (max-width: 468px) {
  body {
    padding: 0.5rem;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  body {
    padding: 0.5rem;
    font-size: 12px;
  }
}

.speed {
  display: table;
  table-layout: fixed;
  width: 100%;
}
  
  .speed-item {
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
  }

  .speed-item:not(:last-child) {
    padding-right: 1rem;
  }

  .speed-item:not(:first-child) {
    padding-left: 1rem;
  }

.download,
.upload {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

.download-header,
.upload-header {
  width: 100%;
  box-sizing: border-box;
  line-height: 2.5rem;
  font-size: 1.1rem;
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 0 0.6rem;
  font-weight: 700;
}

.latency-settings {
  padding: 1rem 0.5rem;
}

  .latency-setting-button {
    cursor: pointer;
    padding: 0.4rem 1rem;
    font-size: 16px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(212, 212, 212);
  }

  .latency-setting-button:hover {
    background-color: rgb(222, 222, 222);
  }

.device-list,
.latency {
  display: block;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

  .device-list-header,
  .latency-header {
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
    width: 100%;
    line-height: 2.5rem;
    font-size: 1.1rem;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 0 0.6rem;
    font-weight: 700;
  }

    .device-list-header-name,
    .device-list-header-ip,
    .device-list-header-status,
    .device-list-header-timestamp {
      display: table-cell;
      vertical-align: top;
      box-sizing: border-box;
      padding: 0 0.2rem;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .device-list-header-status {
      width: 1.2rem;
      padding: 0 0.3rem;
    }

  .device-list-content-item {
    position: relative;
    box-sizing: border-box;
    height: 1.9rem;
    line-height: 1.9rem;
    width: 100%;
    padding: 0 0.6rem;
    border-style: solid;
    border-color: transparent;
    border-width: 1px 0 1px 0;
    transition: height 0.2s ease-in-out, background-color 0.1s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }

  .device-list-content-item:hover {
    background-color: rgb(246, 246, 246);
  }

  .device-list-content-item:first-child {
    border-top: none;
  }

  .device-list-content-item:last-child {
    border-bottom: none;
  }

  .device-list-content-item.active {
    background-color: rgb(246, 246, 246);
    border-color: rgb(212, 212, 212);
    height: 10rem;
  }

  .device-list-content-item-details {
    position: relative;
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
    width: 100%;
  }

/*  .device-list-content-item.active
    .device-list-content-item-details-name,
  .device-list-content-item.active
    .device-list-content-item-details-ip,
  .device-list-content-item.active
    .device-list-content-item-details-status,
  .device-list-content-item.active
    .device-list-content-item-details-timestamp {
      white-space: normal;
      overflow: auto;
      text-overflow: clip;
      word-wrap: break-word;
    }*/

    .device-list-content-item-details-name,
    .device-list-content-item-details-ip,
    .device-list-content-item-details-status,
    .device-list-content-item-details-timestamp {
      display: table-cell;
      vertical-align: top;
      box-sizing: border-box;
      padding: 0 0.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .device-list-content-item-details-status {
      position: relative;
      width: 1.4rem;
      padding: 0 0.3rem;
    }

      .device-list-content-item-details-status:after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 0.6rem;
        height: 0.6rem;
        top: 0.65rem;
        border-radius: 0.6rem;
      }

      .device-list-content-item-details-status.success:after {
        background-color: rgb(46, 204, 113);
      }

      .device-list-content-item-details-status.warning:after {
        background-color: rgb(230, 126, 34);
      }

      .device-list-content-item-details-status.danger:after {
        background-color: rgb(231, 76, 60);
      }

    .device-list-content-item-history {
      height: 8rem;
    }